@charset "UTF-8";
html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
/* logoin */
.body-bg {
    background-color:#222d32 ;
}
.container{
    margin-top: 150px;
}
/* index */
.lt-left{
    background-color: #222d32;
    width: 260px;
    height: 100%;
    position: absolute;
    left: 0;
    transition: all 1s ;
}
.lt-left.now{
     left: -260px;
}
.lt-left .lt-title a{
    display: block;
    height: 50px;
    width: 260px;
    background-color: #367fa9;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}
.lt-left .lt-user-avatar{
    width: 260px;
    height: 240px;
    padding: 60px 60px;;
}
.lt-left .lt-user-avatar img{
    width: 140px;
    height: 140px;
    border-radius: 50%; 
}
.lt-left .lt-user-avatar p{
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}
.lt-left .lt-left-nav{
    margin-top: 20px;
}
.lt-left .lt-left-nav a.now {
    border-left-color: #069;
    background-color: #1d1f21;
    color: #fff;
     
} 
.lt-left .lt-left-nav ul li a {
    font-size: 20px;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #ddd;
    padding-left: 80px; 
    border: 3px solid transparent;
}

.lt-left .lt-left-nav ul li .nav-child a{
   padding-left: 105px; 
   
} 

.lt-mian{
    height: 100%;
    padding-left: 260px;
    transition: all 1s ;
}
.lt-mian.now{
    padding-left: 0; 
}
.lt-mian .lt-top {
    height: 50px; 
    background-color: #3c8dbc; 
    padding: 0 20px;
    margin-bottom: 20px;
}
.lt-mian .lt-top a{
    color: #fff;
    font-size: 20px;
    line-height: 50px; 
} 
.pic_left,
.pic_right {
  width: 45%;
  height: 400px;
}
/* 用户管理页 */ 
.lt-content {
    margin-top: 40px; 
}
.table.table-bordered td {
    text-align: center;
    vertical-align: middle; 
  }
  /* 一级分类 */

  